@{
    ViewBag.Title = "Asthma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/pageHeading_diseases.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline">Want to know more about Occupational Asthma?</h3>
        </div>
    </div>
</div>


<div class="jumbotronmodify container" id="main">



    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#symptoms">Symptoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#hazards">Hazards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventive">General Preventive Measures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventivew">Workplace Preventive Measures</a>
        </li>
    </ul>





    <div id="myTabContent" class="tab-content">


    
        <div class="tab-pane fade active show" id="overview">
            <br />
            <div class="row justify-content-center">

                <div class="about-area2 section-padding40">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-5 col-md-12">
                                <div class="about-caption">
                                    <!-- Section Tittle -->

                                    <p class="pera-topp mb-40">

                                        Occupational asthma is defined as asthma arising from occupation,
                                        in which a substance handled by occupation or an
                                        intermediate substance or end product produced during a work process is the cause.



                                    </p>

                                    <h3>How is it caused?</h3>
                                    <p class="pera-bottom mb-30">
                                        It is a chronic inflammatory disorder of the airways in which many
                                        cells and cellular elements play a role in some cells in the body by causing recurrent
                                        symptoms particularly at night and in the early morning.
                                        These symptoms are usually triggered because of inhalation of airborne particles,
                                        which gets settled in the lungs and causes inflammation(swelling) in the airways of the lungs.
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-12">
                                <img src="~/Images/Asthma.png" alt="">
                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </div>

       
        <div class="tab-pane fade" id="symptoms">
            <br />
            <div class="row justify-content-center">

                <div class="col-lg-10 col-md-12">
                    <img src="~/Images/Asthmaa.PNG" alt="">
                </div>


            </div>
        </div>

    
        <div class="tab-pane fade" id="hazards">
            <br />
            <div class="row justify-content-center">
                <h3>What are the Hazards?</h3>
                <br />
                <br />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Agent</th>
                            <th>Main Occupations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TDI(Toluene diisocyanate)</td>
                            <td>Furniture manufacturing plant</td>
                        </tr>
                        <tr>
                            <td>Welding solvent mist</td>
                            <td>Used in different kinds of industries for welding processes</td>
                        </tr>
                        <tr>
                            <td>Rosin mist</td>
                            <td>Printing, Photocopying, Mixed in laboratories with chemicals, industries</td>
                        </tr>
                        <tr>
                            <td>Reactive dye dust</td>
                            <td>Printing, Textile and Manufacturing industries</td>
                        </tr>
                        <tr>
                            <td>Nickel salt</td>
                            <td>Textile, Manufacturing industries</td>
                        </tr>
                        <tr>
                            <td>Zinc salt mist</td>
                            <td>Automotive and Construction industries</td>
                        </tr>
                        <tr>
                            <td>Shell dust</td>
                            <td>Shellfish processor</td>
                        </tr>
                        <tr>
                            <td>Hair and excrement of laboratory animals</td>
                            <td>Animal laboratories</td>

                        </tr>
                        <tr>
                            <td>Wood dust</td>
                            <td>Wood industries</td>
                        </tr>
                        <tr>
                            <td>Flour dust</td>
                            <td>Bakeries</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
        <div class="tab-pane fade" id="preventive">
            <br />
            <div class="col-12 align-self-center">
                <h3>How to protect yourself?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                            <p class="pera-bottom mb-30"> Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.</p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/fan.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Keep yourself in smoke-free workplace </h5>
                            <p class="pera-bottom mb-30"> This kind of preventive measure such as having smoke-free facilities, efficient ventilation systems will help to prevent lung damage.</p>
                        </div>
                    </li>


                    <li class="media my-4">
                        <img src="~/Images/checkup.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Frequent Medical check-up</h5>
                            <p class="pera-bottom mb-30">    Frequent medical check-ups for those who are always exposed to hazardous substances or chemicals will help to identify the diseases at the initial stage itself and can be easily able to protect oneself. Workers should get flu-shots. </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
       
        <div class="tab-pane fade" id="preventivew">
            <br />
            <div class="col-12 align-self-center">
                <h3>How to protect yourself at workplace?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/execution.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Engineering Tools</h5>
                            <p class="pera-bottom mb-30">
                                Using engineering tools, try to capture the dust that is being obtained from different materials in different occupations.
                            </p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/admin.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Administrative controls</h5>
                            <p class="pera-bottom mb-30">Reduce the number of workers exposed during the exposure. This includes job rotation, rest periods, shift or location changes which can make the workers less exposed to the carcinogenic agents that affect their health.</p>
                        </div>
                    </li>


                    <li class="media my-4">
                        <img src="~/Images/training.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Educating Workers</h5>
                            <p class="pera-bottom mb-30"> Workers need to get educated how to properly handle or use the equipment by providing proper training at the initial stage itself for all kinds of workers which not only includes full-time but also part-time and casual workers. </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row align-items-center">

        <div class="col-lg-12 col-md-12">
            <div class="about-caption">


                <h3>Other Recommended Links</h3>
                <a href="~/Home/Construction/#risk" class="btn btn-primary">Construction</a>
                <a href="~/Home/Manufacturing/#risk" class="btn btn-primary">Manufacturing</a>
                <a href="~/Home/COPD/#main" class="btn btn-primary">COPD</a>
                <a href="~/Home/LungCancer/#main" class="btn btn-primary">Lung Cancer</a>
            </div>



        </div>
    </div>


</div>
