
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Home/Industries">Industries</a></li>
            <li class="breadcrumb-item active" aria-current="page">Construction</li>
        </ol>
    </nav>

<div class="row">
    <div class="col-md-12">

        <img src="~/Images/pageHeading_construction.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-center">Know about the Risk factors involved with Construction</h3>
        </div>
    </div>
</div>
<div class="jumbotronmodify container" id="risk">
    <p class="lead">Click on the icon to know more</p>

    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/gas-mask.svg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" />
        <p class="lead" style="align-self:center">Hazardous Substances</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample1">
        <div class=" card-custom">
            <ul class="list-unstyled">

                <li class="media">
                    <img src="~/Images/quartz.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Lead</h5>
                        <p class="pera-bottom mb-30"> In the workplace, lead may be encountered as a dust or fume in a pure, oxide or salt form. Lead and lead compounds are found in solders, metal alloys, bronzes and construction material.</p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/silica.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Crystalline Silica</h5>
                        <p class="pera-bottom mb-30">Silica is a major component of sand and one of the most abundant substances in the world. Inhalation of finely ground crystalline silicon dioxide infiltrates the lungs and continuously stimulates cellular tissues, reducing lung function.</p>
                    </div>
                </li>
                <li class="media ">
                    <img src="~/Images/asbestos.png" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Asbestos</h5>
                        <p class="pera-bottom mb-30"> Asbestos is a class 1 carcinogen, and long-term exposure can cause respiratory diseases such as lung cancer and asbestos lung. There are differences in harmfulness depending on the size, persistence, and amount of asbestos.</p>
                    </div>
                </li>
            </ul>
        </div>



    </div>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/lung-cancer.svg" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" />
        <p class="lead" style="align-self:center">Lung Diseases </p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample2">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/virus.svg" class="mr-3 img-thumbnaill rounded img-fluid" alt="~/Home/Silicosis/#main">

                    <h5 class="mt-0 mb-1"><a href="~/Home/Silicosis/#main">Silicosis </a></h5>

                </li>
                <li class="media my-4">
                    <img src="~/Images/lungs.svg" class="mr-3 img-thumbnaill rounded img-fluid" alt="~/Home/Silicosis/#main">

                    <h5 class="mt-0 mb-1"><a href="~/Home/Asbestosis/#main">Asbestosis</a></h5>

                </li>


            </ul>
        </div>

    </div>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/medical-insurance.svg" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3" />
        <p class="lead" style="align-self:center">Preventive measures</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample3">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                        <p class="pera-bottom mb-30"> Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.</p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/training.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Training</h5>
                        <p class="pera-bottom mb-30">Workers need to get educated how to properly handle or use the equipment by providing proper training at the initial stage itself for all kinds of workers which not only includes full-time but also part-time and casual workers. </p>
                    </div>
                </li>
                <li class="media">
                    <img src="~/Images/hazard.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Identify the Hazard</h5>
                        <p class="pera-bottom mb-30">Usually workers get exposed to different kinds and levels of hazardous substances in construction industry so try to know those hazards.</p>
                    </div>
                </li>
                <li class="media">
                    <img src="~/Images/execution.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Engineering Tools</h5>
                        <p class="pera-bottom mb-30">
                            Using engineering tools, try to capture the dust that is being obtained from different materials in Construction industry.
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/admin.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Administrative controls</h5>
                        <p class="pera-bottom mb-30">Reduce the number of workers exposed during the exposure. This includes job rotation, rest periods, shift or location changes which can make the workers less exposed to the carcinogenic agents that affect their health.</p>
                    </div>
                </li>
                <li class="media">
                    <img src="~/Images/control.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Control Monitoring </h5>
                        <p class="pera-bottom mb-30">
                            Ensure the dust that comes out of hazardous substances are removed properly.
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/risk.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            Assessing the risks
                        </h5>
                        <p class="pera-bottom mb-30">
                            Assessing the risks includes  the severity of any illness that could occur and the likelihood or chance that workers suffer from illness.
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/no-smoking.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Substitue the substances</h5>
                        <p class="pera-bottom mb-30">Substitue the substances which are more harmful with less harmful substances.</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>




