
@{
	ViewBag.Title = "GeneralLungInfo";
	//Layout = null;
	Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Neaty HTML Web Template</title>


	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link href="~/Content/bootstrap_neaty.css" rel="stylesheet" />
	<link href="~/css/magnific-popup.css" rel="stylesheet" />
	<link href="~/css/templatemo-style.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<style>


		h4{
			font-weight:700;
		}

		body { padding-right: 0 !important }

		.footer .copyright {
			text-align: center;
		}


		li{
			padding-top:18px;
			font-size:20px;
			font-weight:500;
		}

		p{
			font-size:17px;
			text-align:justify;
		}

				.footer .copyright {
			text-align: center;
		}

		.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
		.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
		figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}




/*With Simple Caption*/
.column#caption {
	position: relative;
	padding-left:0px;
	padding-right:0px;
}
.column#caption .text {
		position: absolute;		
	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	opacity: 0;
	transition: all 0.8s ease;			
}
.column#caption .text h1 {		
		margin: 0;		
		color: white;
}
.column#caption:hover .text {
	opacity: 1;
	
}
.column#caption:hover img {
	/*-webkit-filter: sepia(90%);*/
	filter:blur(5px);
}
 
body { padding-right: 0 !important }

/* Craeted refering to LittleSnippets.net Pen: https://codepen.io/littlesnippets/pen/adLELd */
.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
.frame img {
	width: 300px;
	height: 300px;
}
.frame .details {
	width: 70%;
	height: 80%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

        li{
            font-weight:400;
            font-family:Poppins;
        }


        copyright-content{
    background: #5AAC4E;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

	</style>

</head>
<body>
	<div class="container" style="padding-left:0px; padding-right:0px">
		<div class="row">
			<div class="tm-left-right-container" style="justify-content:center">
				<!-- Left column: logo and menu -->
				<div class="tm-left-column" style="background-color:#5AAC4E; padding-top:0px; width:20%">
					<div class="tm-logo-div text-xs-center">
						@*<img src="~/img/tm-neaty-logo.png" alt="Logo">*@
                        <h1 class="tm-site-name" style="color:#ffffff; text-align:center">General lung information</h1>
					</div>
					<nav class="tm-main-nav">
						<ul class="tm-main-ul">
							<li class="tm-nav-item">
								<a href="#welcome" class="tm-nav-item-link" style="text-align:center; font-size:29px; font-weight:300">Exercise</a>
							</li>
							<li class="tm-nav-item">
								<a href="#food" style="color:#ffffff; font-size:29px; font-weight:300">Food</a>
							</li>
							<li class="tm-nav-item">
								<a href="#plants" class="tm-nav-item-link" style="color:#ffffff; font-size:29px; font-weight:300">Plants</a>
							</li>


						</ul>
						</>
				</div> <!-- Left column: logo and menu -->
				<!-- Right column: content -->
				
				<div class="tm-right-column" style="width:80%" id="welcome">
					@*<figure>
						<img src="~/img/neaty-01.jpg" alt="Header image" class="img-fluid">
					</figure>*@
				
					@*<div id="welcome"></div>*@
					<div class="tm-content-div" style="padding-top:10px">
						<!-- Welcome section -->
                        <section id="welcome" class="tm-section">
                            


                            
                            <div class="row">
                                <br /><br /><br />
                            </div>
                            <div class="container">

                                <h2 style="text-align:center;color:#5AAC4E; font-size:48px">
                                   Why exercises are important for healthy lungs?
                                </h2>
                                <br />
                                <p style="text-align:center">
                                    When you have healthy lungs, breathing is natural and easy. You breathe in and out with your diaphragm doing about 80 percent of the work to fill your lungs with a mixture of oxygen and other gases, and then to send the waste gas out. This will help you to breathe properly. If practiced regularly, breathing and cardiovascular exercises help you to get rid of accumulated stale air and increase oxygen levels in your lungs.

                                </p>
                            </div>
                            @*<div class="row justify-content-between">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 push-lg-0">
                <div class="container">
                    <img src="~/Images/exercise_2.png" />
                    <div class="bottom-left" style="font-size:26px; color:#ffffff; font-weight:700">1  Pursed Lip Breathing</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-lg-0">
                <div class="container">
                    <img src="~/Images/exercise_3.jpg" />
                    <div class="top-left" style="font-size:26px;  color:#ffffff; font-weight:700">
                        1  Belly Breathing, aka Diaphragmic Breathing
                    </div>
                </div>

            </div>
        </div>*@

                            @*<br />
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 push-lg-1" data-toggle="modal" data-target="#popup1_1">
                <figure class="effect-lily">
                    <img src="~/Images/exercise_2.png" width="600" height="365">
                    <figcaption>
                        <div>
                            <h2 style="font-size:26px;  color:#ffffff; font-weight:700">Pursed Lip Breathing</h2>
                            <p>Click to read more</p>
                        </div>

                    </figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 push-lg-2" id="myBtn" data-toggle="modal" data-target="#popup1_2">
                <figure class="effect-lily">
                    <img src="~/Images/exercise_333_meitu_2.png" width="600">
                    <figcaption>
                        <div>
                            <h2 style="font-size:26px;  color:#ffffff; font-weight:700"> Belly Breathing</h2>
                            <p>Aka Diaphragmic Breathing</p>
                        </div>

                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="modal fade" id="popup1_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:70%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Pursed Lip Breathing</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            This exercise reduces the number of breaths you take and keeps your airways open longer. More air
                            is able to flow in and out of your lungs so you can be more physically active. To practice it, simply
                            breathe in through your nose and breathe out at least twice as long through your mouth, with pursed
                            lips.
                        </p>
                        <p>
                            Pursed-lips breathing can slow down your breathing, reducing the work of breathing by keeping your
                            airways open longer. This makes it easier for the lungs to function and improves the exchange of
                            oxygen and carbon dioxide. This breathing exercise is often easier for beginners than diaphragmatic
                            breathing, and you can do it at home even if no one has showed you how. It can be practiced at any
                            time.
                        </p>
                        <ol>
                            <li>Inhale slowly through your nostrils.</li>
                            <li>Purse your lips, as if pouting or about to blow on something.</li>
                            <li>
                                Breathe out as slowly as possible through pursed lips. This should
                                take at least twice as long as it did to breathe in.
                            </li>
                            <li>Repeat.</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="popup1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:70%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Belly Breathing</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            As with pursed lip breathing, start by breathing in through your nose. Pay attention to how your belly fills up with air. You can put your hands lightly on your stomach, or place a tissue box on it, so you can be aware of your belly rising and falling. Breathe out through your mouth at least two to three times as long as your inhale. Be sure to relax your neck and shoulders as you retrain your diaphragm to take on the work of helping to fill and empty your lungs.

                        </p>
                        <p>
                            Diaphragmatic breathing, or “belly breathing,” engages the diaphragm, which is supposed to do most of the heavy lifting when it comes to breathing. This technique is particularly helpful in people with COPD, as the diaphragm isn’t as effective in these individuals and could be strengthened. The technique best used when feeling rested. If you have COPD, ask your doctor or respiratory therapist to show you how to use this exercise for best results. According to the COPD Foundation, you should do the following to practice diaphragmatic breathing:

                        </p>
                        <ul>
                            <li>
                                Relax your shoulders and sit back or lie down.
                            </li>
                            <li>
                                Place one hand on your belly and one on your chest.
                            </li>
                            <li>
                                Inhale through your nose for two seconds, feeling the air move into your abdomen and feeling your stomach move out. Your stomach should move more than your chest does.
                            </li>
                            <li>
                                Breathe out for two seconds through pursed lips while pressing on your abdomen.
                            </li>
                            <li>
                                Repeat.
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="food"></div>
        <br /><br /><br /><br />*@




                            <!-- new exercises-->
                            <a href="#popup123" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup11">
                                <span class="text">
                                    <h1 style="color:#000">
                                        Pranayama
                                    </h1>
                                </span>
                                <img src="~/Images/exercise1_meitu_6.jpg">
                            </a>

                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup12">
                                <span class="text">
                                    <h1>
                                        Pursed Lips Breathing
                                    </h1>
                                </span>
                                <img src="~/Images/exercise2_meitu_7.jpg">
                            </a>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup13">
                                <span class="text">
                                    <h1 style="color:#000">
                                        Jumping Jacks
                                    </h1>
                                </span>
                                <img src="~/Images/exercise3_meitu_8.jpg">
                            </a>


                            <div class="row">

                            </div>
                            <div class="column col-xs-2"></div>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup14">
                                <span class="text">
                                    <h1 style="color:#000">
                                        Spot Jogging
                                    </h1>
                                </span>
                                <img src="~/Images/exercise4.jpg">
                            </a>

                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup15">
                                <span class="text">
                                    <h1>
                                        Jump Lunges
                                    </h1>
                                </span>
                                <img src="~/Images/exercise5.jpg">
                            </a>

                            <div class="column col-xs-2">

                            </div>
                            <div class="column col-xs-2">

                            </div>



                            <!--execricse modal-->
                            <div class="modal fade" id="popup11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Pranayama</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ol>
                                                <li>
                                                    Sit in the Lotus position by keeping your back straight.
                                                </li>
                                                <li>
                                                    Close your left nostril with the ring finger of your left hand.
                                                </li>
                                                <li>
                                                    Inhale deeply and slowly through your right nostril.
                                                </li>
                                                <li>
                                                    Now, close your right nostril with your thumb.
                                                </li>
                                                <li>
                                                    Slowly, Exhale through the left nostril by moving your ring finger away.
                                                </li>
                                                <li>
                                                    Again slowly close your left nostril and repeat the above process.
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Pursed Lips Breathing</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">

                                                <div class="column col-xs-8">

                                                    <ol>
                                                        <li>
                                                            Inhale slowly through your nostrils.
                                                        </li>
                                                        <li>Purse your lips as if pouting or about to blow on something.</li>
                                                        <li>
                                                            Breathe out as slowly as possible through pursed lips. This should take at least twice as long as it did to breathe in.
                                                        </li>
                                                        <li>
                                                            Repeat.
                                                        </li>

                                                    </ol>
                                                </div>
                                                <div class="column col-xs-4">
                                                    <div style="width:100%;height:0px;position:relative;padding-bottom:177.778%;"><iframe src="https://streamable.com/e/ha6u7x" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Jumping Jacks</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="col-xs-8">

                                                    <ol>
                                                        <li>
                                                            Initially stand straight with your feet together and arms at the sides.
                                                        </li>
                                                        <li>
                                                            Perform jumping to a position with the legs spread wide and the hands going overhead with a clap.
                                                        </li>
                                                        <li>
                                                            Return to a position with the feet together and the arms at the sides.
                                                        </li>

                                                    </ol>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div style="width:100%;height:0px;position:relative;padding-bottom:177.778%;"><iframe src="https://streamable.com/e/phnjzw" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Spot Jogging</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-xs-8">


                                                <ol>
                                                    <li>
                                                        Lift your right arm and left foot at once.
                                                    </li>
                                                    <li>
                                                        Raise your knee as high as your hips.
                                                    </li>
                                                    <li>
                                                        Shift to the opposite foot and quickly lift your right foot to hip height.
                                                    </li>
                                                    <li>
                                                        Now at the same time, move your right arm back and your left arm forward and up.
                                                    </li>
                                                    <li>
                                                        Repeat.
                                                    </li>

                                                </ol>
                                            </div>
                                            <div class="col-xs-4">
                                                <div style="width:100%;height:0px;position:relative;padding-bottom:177.778%;"><iframe src="https://streamable.com/e/z1qt72" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup15" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Jump Lunges</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-xs-8">
                                                <ol>
                                                    <li>
                                                        Stand straight, keep your foot together and hands resting beside your body.
                                                    </li>
                                                    <li>
                                                        Knee on your right leg forward and your left leg back.
                                                    </li>
                                                    <li>
                                                        Now, jump your left leg forward and your right leg back with both knees at 90 degrees.
                                                    </li>
                                                    <li>
                                                        Switch your legs and repeat the same.
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="col-xs-4">
                                                <div style="width:100%;height:0px;position:relative;padding-bottom:177.778%;"><iframe src="https://streamable.com/e/loxhn5" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><br /><br /><br /></div>
                            <div class="row"></div>
                            <div class="row" id="food"></div>










                            <!-- Food section -->
                            @*<h1 style="color:#5AAC4E; font-size:48px">Food</h1>*@

                            <br />
                            <div class="row">
                                <br /><br /><br />
                            </div>
                            <div class="container">

                                <h2 style="text-align:center;color:#5AAC4E; font-size:48px">
                                    How food affects your lungs?
                                </h2>
                                <br />
                                <p style="text-align:center">
                                    When we intake food, it may not directly have an impact on your lungs, but our food indirectly touches them through the cardiovascular system, thereby providing antioxidant protection.

                                </p>
                            </div>





                            <a href="#popup123" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup1">
                                <span class="text">
                                    <h1>
                                        Healthy fats
                                    </h1>
                                </span>
                                <img src="~/Images/Nuts.jpg">
                            </a>

                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup2">
                                <span class="text">
                                    <h1>
                                        Spices
                                    </h1>
                                </span>
                                <img src="~/Images/spices.jpg">
                            </a>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup3">
                                <span class="text">
                                    <h1>
                                        Vegetables
                                    </h1>
                                </span>
                                <img src="~/Images/Vegetables (2).jpg">
                            </a>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup4">
                                <span class="text">
                                    <h1>
                                        Fruits
                                    </h1>
                                </span>
                                <img src="~/Images/Fruits.jpg">
                            </a>

                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup5">
                                <span class="text">
                                    <h1>
                                        Beverages
                                    </h1>
                                </span>
                                <img src="~/Images/Beverages.jpg">
                            </a>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup6">
                                <span class="text">
                                    <h1>
                                        Meat
                                    </h1>
                                </span>
                                <img src="~/Images/fish&meat.jpg">
                            </a>


                            @*<div id="popup1" class="overlay">
            <div class="popup">
                <h2 style="text-align:center">Food with healthy fats</h2>
                <a class="close" href="#">&times;</a>
                <div class="content" >
                    <ul>
                        <li>
                            Salmon:- They help in repairing body tissue and also to keep muscles in lungs stronger.
                        </li>
                        <li>
                            Walnuts:- They act as an anti-inflammatory potentially reducing lung inflammation. Also helps to improve your ability to breathe.
                        </li>
                        <li>
                            Flaxseeds:- They contain minerals that act as an anti-inflammatory potentially reducing lung inflammation. Also helps to improve your ability to breathe.
                        </li>
                    </ul>



                </div>
            </div>
        </div>*@

                            <div class="modal fade" id="popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Foods with healthy fats</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Salmon:- They help in repairing body tissue and also to keep muscles in lungs stronger.
                                                </li>
                                                <li>
                                                    Walnuts:- They act as an anti-inflammatory potentially reducing lung inflammation. Also helps to improve your ability to breathe.
                                                </li>
                                                <li>
                                                    Flaxseeds:- They contain minerals that act as an anti-inflammatory potentially reducing lung inflammation. Also helps to improve your ability to breathe.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Eat more spices</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Ginger:- Ginger fights for inflammation. It naturally promotes smooth muscle relaxation in the airways of the lungs which helps to make breathing easier.
                                                </li>
                                                <li>Chill Peppers:- It reduces the growth of cell tissues in lungs, thereby reducing the risk of lung cancer</li>
                                                <li>
                                                    Turmeric:- They fight for inflammation. Curcumin compound present in it helps to relieve inflammation of airways and chest-tightness.
                                                </li>
                                                <li>
                                                    Cayenne Pepper:- It helps to stimulate secretions and protect mucus membranes from lower and upper respiratory tract.
                                                </li>
                                                <li>
                                                    Red Bell Pepper:- It contains carotenoids that can reduce the risk of developing lung cancer.
                                                </li>
                                                <li>
                                                    Onions:- It reduces inflammation and lower cholesterol levels which can provide a boost to your cardiopulmonary system.
                                                </li>
                                                <li>
                                                    Garlic:- It helps to enhance the elimination of carcinogens and toxins in your body that help your lungs to function better.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Vegetables that are high in antioxidants</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Beans:-  They help your lungs to protect from infections. Also they help your lungs to fight off from free radicals that damages your lungs.
                                                </li>
                                                <li>
                                                    Kale:- They help in lowering the inflammation and reduce the risk of lung cancer.
                                                </li>
                                                <li>
                                                    Pumpkin:- It is a rich source of vitamin C, that contains a variety of lung-health promoting plant compounds . It has anti-inflammatory properties.
                                                </li>
                                                <li>
                                                    Carrots:- It helps in healing , protection of your lung cells.
                                                </li>
                                                <li>
                                                    Dark Leafy Greens:- They help in lowering the inflammation and reduce the risk of lung cancer.
                                                </li>
                                                <li>
                                                    Red Cabbage:- It consists of Anthocyanin that reduces decline in lung function.
                                                </li>
                                                <li>
                                                    Cauliflower:- It helps lungs to protect from the carcinogens.
                                                </li>
                                                <li>
                                                    Broccoli:- It protects lungs from damage caused by toxins.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Fruits that are high in antioxidants</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Apples:- The antioxidant flavonoid known as quercetin can protect lungs from harmful effects of air pollution.
                                                </li>
                                                <li>
                                                    Oranges:- They help to lower blood pressure which has a direct effect on lung performance.
                                                </li>
                                                <li>
                                                    Grapefruit:- They help in lowering the inflammation and reduce the risk of lung cancer.
                                                </li>
                                                <li>
                                                    Pomegranates:- It reduces the growth of cell tissues in lungs.
                                                </li>
                                                <li>
                                                    Cantaloupe:- They help to repair your lungs by healing.
                                                </li>
                                                <li>
                                                    Avocado:- They help to protect your lungs from tiny particles by building resistance.
                                                </li>
                                                <li>
                                                    Berries:- They boost your lungs and make your lungs to function better even when you are aged.
                                                </li>
                                                <li>
                                                    Pears:-  They are found to act as a cell-protecting antioxidants and protect lungs from various lung diseases.
                                                </li>
                                                <li>
                                                    Apricots:- They maintain respiratory tract lining and lower the risk of lung infections.

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Beverages</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Water:- Drinking more water is one of the easiest ways to improve lung health as it makes up 60 percent of your body weight. So, staying hydrated helps to ensure that all the organs in the body function properly.
                                                </li>
                                                <li>Coffee:- Caffeine found in coffee can open up the airways in the lungs and make breathing better.</li>
                                                <li>
                                                    Green Tea:- It has anti inflammation properties that reduce the risk of lung cancer.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">
                                                Meat
                                            </h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    Chicken:- They help in lung health boosting.
                                                </li>
                                                <li>
                                                    Fatty fish:- They help in lung health boosting.
                                                </li>
                                                <li>
                                                    Turkey:- It helps in reducing body combat lung infections.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- plants section-->
                            <div class="col-xs-12" id="plants"><br /><br /><br /><br /><br /></div>
                            <h2 style="text-align:center;color:#5AAC4E; font-size:48px">
                                Which plants can help your lungs?
                            </h2>
                            <br />
                            <p style="text-align:center">
                                You could go days without food and hours without water, but you would last only a few minutes without air. You must have air to live. However, did you know that breathing polluted air can make you sick? Here are some plants that can help your lungs.
                            </p>


                            <a href="#popup123" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup111">
                                <span class="text">
                                    <h1>
                                        Areca Palm
                                    </h1>
                                </span>
                                <img src="~/Images/plant1_meitu_1.jpg">
                            </a>

                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup112">
                                <span class="text">
                                    <h1>
                                        Snake Plant
                                    </h1>
                                </span>
                                <img src="~/Images/plant2.jpg">
                            </a>



                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup113">
                                <span class="text">
                                    <h1>
                                        Money Plant
                                    </h1>
                                </span>
                                <img src="~/Images/plant3_meitu_3.jpg">
                            </a>

                            <div class="row">
                                @*<div class="column col-xs-4">
                col-xs-4
            </div>*@

                                @*<a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup114">
                <span class="text">
                    <h1 style="color:#000">
                        Gerbera Daisy
                    </h1>
                </span>
                <img src="~/Images/plant4.jpg">
            </a>


            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup115">
                <span class="text">
                    <h1>
                        Chinese Evergreens
                    </h1>
                </span>
                <img src="~/Images/plant5_meitu_5.jpg">
            </a>*@
                            </div>

                            <div class="column col-xs-2">

                            </div>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup114">
                                <span class="text">
                                    <h1 style="color:#000">
                                        Gerbera Daisy
                                    </h1>
                                </span>
                                <img src="~/Images/plant4.jpg">
                            </a>
                            <a href="#" class="column col-xs-4" id="caption" data-toggle="modal" data-target="#popup115">
                                <span class="text">
                                    <h1>
                                        Chinese Evergreens
                                    </h1>
                                </span>
                                <img src="~/Images/plant5_meitu_5.jpg">
                            </a>
                            <div class="column col-xs-2">

                            </div>
                            <div class="column col-xs-2">

                            </div>

                            <div class="modal fade" id="popup111" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Areca Palm</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>As with all plants, the Areca Palm is biologically engineered to take in carbon dioxide and release oxygen. However, what sets the Areca Palm apart is its ability to also purify the environment it’s placed in by removing dangerous chemicals such as formaldehyde, xylene and toluene.</p>
                                            <h4>Recommendation & Care:</h4>
                                            <p>The Areca Palm does well in filtered light and needs to be watered often. For one person, four shoulder high plants should suffice.</p>
                                            <h4>Best Placement:</h4>
                                            <p>The Living Room</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup112" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Snake Plant</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Considered highly efficient in oxygen production, the Snake Plant otherwise known as the Mother-In-Law’s Tongue, is unique for its nighttime oxygen production, and ability to purify air through the removal of benzene, formaldehyde, trichloroethylene, xylene and toluene.</p>
                                            <h4>Recommendation & Care:</h4>
                                            <p>The Snake Plant does well in window light and needs to be watered weekly. For one person, six to eight waist level plants are recommended. In an air sealed room, these plants are capable of producing enough oxygen to breathe normally.</p>
                                            <h4>Best Placement:</h4>
                                            <p>The Bedroom</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup113" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Money Plant</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Featured by NASA, the Money Plant is renowned for its ability to remove chemicals and other pollutants from the air, specifically benzene, formaldehyde, xylene and toluene. However, despite the benefit of its high purification rate, this plant is toxic to cats, dogs and small children if its leaves are ingested.</p>
                                            <h4>Recommendation & Care:</h4>
                                            <p>The Money Plant prefers indirect light and needs to be watered every week or so. For one person, three 18-inch plants are recommended.</p>
                                            <h4>Best Placement:</h4>
                                            <p>Any room but keep out of reach of pets or small children.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup114" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Gerbera Daisy</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Arguably the prettiest entry on the list, the Gerbera Daisy is often used as a decorative element in gardening. However, the Gerbera Daisy is also distinct for its ability to produce high levels of oxygen at night while removing harmful chemicals, such as benzene and trichloroethylene. Beneficial for those suffering from sleep apnea and breathing disorders, keep this one on the nightstand for better sleep.</p>
                                            <h4>Recommendation & Care:</h4>
                                            <p>The Gerbera Daisy prefers bright sunlight during the summer, spring and fall, and indirect light during the winter. It needs to be watered regularly with the soil being kept moist. Due to the decorative nature of the flower, the amount of recommended flower pots is up to the discretion of the planter.</p>
                                            <h4>Best Placement:</h4>
                                            <p>The Bedroom</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="popup115" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:50%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">Chinese Evergreens</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>The Chinese Evergreen is one of the most common household plants and for good reason. This plant emits a high oxygen content while purifying indoor spaces of harmful chemicals such as benzene, formaldehyde and other toxins. As its name suggests, it is quite popular in China specifically for its high efficiency in removing harmful pollutants from the air.</p>
                                            <h4>Recommendation & Care:</h4>
                                            <p>The Chinese Evergreen does well in full shade, and only needs to be watered occasionally with a focus on keeping the soil moist. The number of plants kept is at the owner’s discretion.</p>
                                            <h4>Best Placement:</h4>
                                            <p>The Living Room</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>






</div> <!-- Right column: content -->
</div>
		</div> <!-- row -->
	</div> <!-- container -->
	<!-- load JS files -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<script src="~/js/jquery.singlePageNav.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>

	<script>
	</script>

</body>
