
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Industries</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/pageHeading_industries.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline" id="industry">See how your occupation can be risky for you</h3>
        </div>
    </div>
</div>
<div class="jumbotronmodify container">

    <div class="row justify-content-center">

        <div class="col-lg-10 col-md-12">
            <img src="~/Images/Employmentt.png" alt="">




        </div>
        <br />
        <div class="col-lg-10 col-md-12">
            <p class="pera-bottom mb-30">
                You might be eligible to get compensation for your medical treatment.
                <a href="~/Home/Claims" class="btn btn-primary">Policies</a>
            </p>
            </div >
            </div>



            
            <div class="card-deck">

                <div class="card text-white">
                    <img class="card-img" src="~/Images/construction.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Construction</h2>

                    </div>
                    <div class="back">
                        <p class="copy">Workers in construction industries are exposed to high rates of occupational hazards.</p>
                        <a href="~/Home/Construction/#risk">Know more</a>
                    </div>
                </div>


                <div class="card  text-white">
                    <img class="card-img" src="~/Images/manufacturing1.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Manufacturing</h2>

                    </div>
                    <div class="back">
                        <p class="copy">There are several manufacturing industries which can cause occupational lung disease such as glass, abrasives, pottery, ceramic, brick and tile manufacturing.</p>
                        <a href="~/Home/Manufacturing/#risk">Know more</a>
                    </div>
                </div>
                <div class="card text-white">
                    <img class="card-img" src="~/Images/mining.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Mining</h2>

                    </div>
                    <div class="back">
                        <p class="copy">Over the years, coal dust accumulates in the lung tissue and gradually scars, causing breathing difficulties</p>
                        <a href="~/Home/Mining/#risk">Know more</a>
                    </div>
                </div>

            </div>


        </div>
<script src="~/Scripts/jquery.scrollUp.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/Scripts/jquery.scrollUp.min.js")