
@{
    ViewBag.Title = "Manufacturing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Home/Industries">Industries</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manufacturing</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">

        <img src="~/Images/pageHeading_manufacturing.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-center">Know about the Risk factors involved with Manufacturing</h3>
        </div>
    </div>
</div>
<div class="jumbotronmodify container" id="risk">

    <p class="lead">Click on the icon to know more</p>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/gas-mask.svg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" />
        <p class="lead" style="align-self:center">Hazardous Substances</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample1">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">

                <li class="media">
                    <img src="~/Images/silica.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Silica</h5>
                        Silica is a major component of sand and one of the most abundant substances in the world. Inhalation of finely ground crystalline silicon dioxide infiltrates the lungs and continuously stimulates cellular tissues, reducing lung function.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/quartz.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Quartz</h5>
                        Quartz is mainly composed of silicon or silicon dioxide, and is used in the manufacture of glass and ferrosilicon through thermal processing. In particular, silica sand is a quartz-grained sand that is used as a raw material for abrasives, in addition to manufacturing glass types.
                    </div>
                </li>
            </ul>
        </div>



    </div>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/lung-cancer.svg" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" />
        <p class="lead" style="align-self:center">Lung Diseases (Click on each disease to know more)</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample2">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/inhaler.png" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">

                    <h5 class="mt-0 mb-1"><a href="~/Home/Asthma">Occupational asthma</a></h5>

                </li>
                <li class="media my-4">
                    <img src="~/Images/lungs.svg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">

                    <h5 class="mt-0 mb-1"><a href="~/Home/COPD">Chronic obstructive pulmonary disease</a></h5>

                </li>
                <li class="media">
                    <img src="~/Images/lungs.png" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">

                    <h5 class="mt-0 mb-1"><a href="~/Home/LungCancer">Lung Cancer</a></h5>

                </li>

            </ul>
        </div>

    </div>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/medical-insurance.svg" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3" />
        <p class="lead" style="align-self:center">Preventive measures</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample3">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/hazard.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Identify the Hazard</h5>
                        <p class="pera-bottom mb-30">Usually workers get exposed to different kinds and levels of hazardous substances in construction industry so try to know those hazards.</p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/training.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Training</h5>
                        <p class="pera-bottom mb-30">Each manufacturing industry educates about the types of hazardous substances and the diseases that can arise.</p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/risk.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            Assessing the risks
                        </h5>
                        <p class="pera-bottom mb-30">
                            The duration of exposure to the trigger is the most important risk factor because the presence and extent of the disease is determined by this.
                        </p>
                    </div>
                </li>

                <li class="media my-4">
                    <img src="~/Images/admin.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Administrative controls</h5>
                        <p class="pera-bottom mb-30">Reduce the number of workers exposed during the exposure. This includes job rotation, rest periods, shift or location changes which can make the workers less exposed to the carcinogenic agents that affect their health.</p>
                    </div>
                </li>
                <li class="media">
                    <img src="~/Images/control.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Control Monitoring </h5>
                        <p class="pera-bottom mb-30">
                            It is important to reduce exposure to harmful substances that can cause lung disease in the workplace, so the concentration of hazardous substances in the air is checked frequently.

                        </p>
                    </div>
                </li>


                <li class="media my-4">
                    <img src="~/Images/eliminate.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Eliminate the substances </h5>
                        <p class="pera-bottom mb-30">Remove the hazardous substances that would cause illness or affect the health of workers.</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>


