
@{
    ViewBag.Title = "Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaptfzrd3_VALN-8knGS5eCXW5tXDDsz8&callback=initMap&libraries=places&v=weekly"
            defer></script>


</head>
<body>
    <div class="jumbotronmodify container">
        <br />
        <div class="pac-card" id="pac-card">
            <div id="pac-container">
                <input id="pac-input" type="text" placeholder="Enter a location" />
            </div>
            <br />
        </div>
        <button class="btn btn-primary" id="hospitals">Lung Hospitals</button>
        <button class="btn btn-primary" id="places">Lung Friendly Places</button>
        <br />
        <br />
        <div id="map" style="height:500px"></div>
        <div id="msg"></div>

    </div>

</body>
</html>
<script src="~/js/map.js"></script>
@Scripts.Render("~/js/map.js")
