@{
    ViewBag.Title = "About";
}


    <div class="jumbotronmodify container">


        <div class="row justify-content-center">

            <div class="about-area2 section-padding40">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-12 col-md-12">
                            <div class="about-caption">
                                <!-- Section Tittle -->
                                <h3>Idea behind the project</h3>
                                <p class="pera-bottom mb-30">
                                    Lung Diseases is one of the leading causes of death in Australia. These lung diseases could be caused because of various reasons. One of the reasons includes Occupation. Workers who work in any of the occupations like construction, manufacturing, mining, agriculture and bakery likewise get involved themselves in various activities where they get exposed to hazardous substances and materials. Inhaling of these tiny substances get settled in the lungs and do not show advanced effects for a longer time. At the advanced stages these diseases sometimes could not be cured and will have side effects in other parts of the body.
                                    In the modern lifestyle of today’s generation almost 70% of the people have been employed. Taking care of the lungs at present would not only save the lives of the people in their old times but also reduces the burden to the nation

                                </p>

                                <h3>About Us</h3>
                                <p class="pera-bottom mb-30">

                                    We the team of “Respiratory Repairers” came up with the project of “Safe lungs at work” where we aim to reduce the number of people suffering from Occupational Lung Diseases (OLDs) in Australia by providing information and arousing awareness to men who want to engage in OLDs-related jobs among 25-30 years old in a precise way. Through a customized solution of quiz and questionnaires, we are trying to draw the attention of users and introduce the type of diseases that people may trigger if they work in some occupation. We also aim to let user know about the lung related hospitals, clean areas through GPS services and also what vaccinations a worker working in an occupation could take to protect himself in prior without being attacked to any diseases.

                                </p>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
        </div>

    </div>