@{
    ViewBag.Title = "About";
}
<style>
    img {
    width: 100%;
}
     .spacer {
     padding-top: 40px;
     padding-bottom: 20px;
 }

</style>

    <div style="background-color:#F4F4F4">

        

        <div class="container" style="padding:0; background-color:#FFF">
            <div class="shadow mb-5 bg-white rounded" style="padding:0">
                <div class="row">
                    <div class="my-5"></div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="img-responsive">
                            <img src="~/Images/About_2.jpg" />
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1" style="font-size:30px">
                        <div class="my-4">

                        </div>
                        <h2>
                            <dt>
                                Purpose
                            </dt>
                        </h2>
                        <div class="col-12 spacer">
                            <p class="mb-4" style="font-size:1.5rem">We aim to build a one-stop solution for Occupational Lung diseases in the name of Breathe & Believe a web application. For this application, our focus group is a young workforce belonging to the age range of 25-30 who have recently joined the industry so that they can be aware of the possible damage and take preventive measures beforehand. Awareness along with recommendations will be provided through interactive data, visualizations, quizzes & questionaries.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-center spacer" style="background-color:#f8f9fa">
                    <h2>
                        Our team member
                    </h2>
                </div>

                <div class="container">

                    <div class="row justify-content-center spacer" style="background-color:#f8f9fa">
                        <div class="col-md-2">
                            <img class="rounded-circle z-depth-2" alt="100x100" src="~/Images/Manasie.png"
                                 data-holder-rendered="true">
                        </div>
                        <div class="col-md-2 ">
                            <img class="rounded-circle z-depth-2" alt="100x100" src="~/Images/Yumeng.png"
                                 data-holder-rendered="true">
                        </div>
                        <div class="col-md-2">
                            <img class="rounded-circle z-depth-2" alt="100x100" src="~/Images/David.png"
                                 data-holder-rendered="true">
                        </div>
                        <div class="col-md-2">
                            <img class="rounded-circle z-depth-2" alt="100x100" src="~/Images/Vaishnavi.png"
                                 data-holder-rendered="true">
                        </div>

                    </div>
                </div>


                <div class="container">

                    <div class="row justify-content-center spacer" style="background-color:#f8f9fa">
                        <div class="col-md-2">
                            <dt>Manasie Bajpai</dt> 
                            Information Techology
                        </div>
                        <div class="col-md-2 ">
                            <dt>Yumeng Zhao</dt> 
                            Information Techology
                        </div>
                        <div class="col-md-2">
                            <dt>Min Kim</dt>
                            Data Science
                        </div>
                        <div class="col-md-2">
                            <dt>Vaishnavi Gadde</dt>
                            Data Science
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
