
@{
    ViewBag.Title = "Asthma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/image_diseases.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline">Want to know more about Asthma?</h3>
        </div>
    </div>
</div>

<div class="jumbotronmodify container">
    <div class="col-12 align-self-center">
        <p class="lead">
            Occupational asthma is defined as asthma arising from occupation, in which a substance handled by occupation or an intermediate substance or end product produced during a work process is the cause.
        </p>
    </div>

</div>