
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Home/Industries">Industries</a></li>
            <li class="breadcrumb-item active" aria-current="page">Construction</li>
        </ol>
    </nav>

<div class="row">
    <div class="col-md-12">

        <img src="~/Images/pageHeading_construction.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-center">Know about the Risk factors involved with Construction</h3>
        </div>
    </div>
</div>
<div class="jumbotronmodify container">
    <p class="lead" >Click on the icon to know more</p>

    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/gas-mask.svg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" />
        <p class="lead" style="align-self:center">Hazardous Substances</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample1">
        <div class=" card-custom">
            <ul class="list-unstyled">
              
                <li class="media">
                    <img src="~/Images/quartz.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Lead</h5>
                        In the workplace, lead may be encountered as a dust or fume in a pure, oxide or salt form. Lead and lead compounds are found in solders, metal alloys, bronzes and construction material.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/silica.jpeg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Crystalline Silica</h5>
                        Silica is a major component of sand and one of the most abundant substances in the world. Inhalation of finely ground crystalline silicon dioxide infiltrates the lungs and continuously stimulates cellular tissues, reducing lung function.
                    </div>
                </li>
                <li class="media ">
                    <img src="~/Images/asbestos.png" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">
                    <div class="media-body">


                        <h5 class="mt-0 mb-1">Asbestos</h5>
                        Asbestos is a class 1 carcinogen, and long-term exposure can cause respiratory diseases such as lung cancer and asbestos lung. There are differences in harmfulness depending on the size, persistence, and amount of asbestos.
                    </div>
                </li>
            </ul>
        </div>



    </div>
    <div class="media">
        <img class="btn img-thumbnaill rounded-circle" src="~/Images/lung-cancer.svg" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" />
        <p class="lead" style="align-self:center">Lung Diseases</p>
    </div>
    <div class="collapse multi-collapse " id="multiCollapseExample2">
        <div class=" card-custom">
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/virus.svg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">

                    <h5 class="mt-0 mb-1"><a href="~/Home/Silicosis">Silicosis</a></h5>

                </li>
                <li class="media my-4">
                    <img src="~/Images/lungs.svg" class="mr-3 img-thumbnaill rounded img-fluid" alt="...">

                    <h5 class="mt-0 mb-1"><a href="~/Home/Asbestosis">Asbestosis</a></h5>

                </li>
  

            </ul>
        </div>

    </div>

</div>




