@{
    ViewBag.Title = "Home Page";
}


    <body>

        <div class="row">
            <div class="col-md-6">
                <h2><strong>Do you want to find risk factors for a specific industry</strong>? </h2>
                <p>
                    Click here to find out more!
                </p>
                <button type="button" class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more</button>
            </div>
        </div>
    </body>