
@{
    ViewBag.Title = "LungCancer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <img src="~/Images/image_diseases.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline">Want to know more about Lung Cancer?</h3>
        </div>
    </div>
</div>


<div class="jumbotronmodify container">
    <div class="about-area2 section-padding40">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-12">
                    <div class="about-caption">
                        <!-- Section Tittle -->

                        <p class="pera-top mb-40">
                            Lung Cancer is considered as one of the most common forms of occupational cancer.
                            It is caused when cells grow in an abnormal way in one or both the lungs.
                        </p>

                        <h3>How is it caused?</h3>
                        <p class="pera-bottom mb-30">

                            At the work-place when an individual gets exposed to the carcinogenic(cancer-causing) agents for a longer-duration they are more triggered to get affected by the lung cancer because carcinogenesis is a complex, multifactorial process where genetic and environmental factors can play an inter-related role that can lead to uncontrolled cell growth.

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="~/Images/lung_symp.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="about-area2 section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <img src="~/Images/2.png" alt="">
                </div>

            </div>
        </div>
    </div>
    <br />
    <br />
    <h3>What are the Hazzards?</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Main Occupations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ionising Radiation</td>
                <td>Radiologists, Technologists, Nuclear Workers, Radium-Dial Painters, Underground Miners, Plutonium Workers, Cleanup Workers following nuclear accidents, Aircraft Crew.</td>
            </tr>
            <tr>
                <td>Solar Radiation</td>
                <td>Farmers, Painters, Plumbers, Animal and Horticultural workers and Handypersons.</td>
            </tr>
            <tr>
                <td>Asbestos</td>
                <td>Mining and Milling, Construction, Manufacturing, Petroleum Refineries, Shipbuilding, Chemical and Food Processing.</td>
            </tr>
            <tr>
                <td>Silica</td>
                <td>Mining, Construction, Farming, Granite and Stone Industries, Ceramics and Glass related Industries</td>
            </tr>
            <tr>
                <td>Wood Dust</td>
                <td>Logging and Sawmill Workers, Paperboard Industry, Woodworking Trades that includes Furniture Industries, Cabinetmaking, Carpentry and Construction.</td>
            </tr>
            <tr>
                <td>Engine exhaust, diesel</td>
                <td>Mining, Metal Workers and Heavy Vehicle drivers</td>
            </tr>
            <tr>
                <td>Environmental Tobacco Smoke(ETS)t</td>
                <td>Different kinds of Industries</td>
            </tr>
            <tr>
                <td>Benzene</td>
                <td>Farming, Construction, Manufacturing, Automobile, Animal and Horticultural, Chemical and Pharmaceutical Industries, Printing, Rubber.</td>

            </tr>
            <tr>
                <td>Lead</td>
                <td>Battery Manufacturing Plants, Steel Welding or Cutting Operations, Painting and Printing Industries, Construction, Steel Welding or Cutting Operations, Industries that require flame soldering of lead solder, Gasoline Stations and Garages.</td>
            </tr>
            <tr>
                <td>Polycyclic Aromatic Hydrocarbons(PAH)</td>
                <td>Coal Gasification, Food Processing and Services, Coal-tar distillation, Aluminium Production.</td>
            </tr>
            <tr>
                <td>Formaldehyde</td>
                <td>Construction, Manufacturing, Carpenter, Painter</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div class="col-12 align-self-center">
        <h3>How to protect yourself?</h3>
        <br />
        <ul class="list-unstyled">
            <li class="media">
                <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                    <p class="pera-bottom mb-30"> Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.</p>
                </div>
            </li>

            <li class="media my-4">
                <img src="~/Images/fan.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Keep yourself in smoke-free workplace </h5>
                    <p class="pera-bottom mb-30"> This kind of preventive measure such as having smoke-free facilities, efficient ventilation systems will help to prevent lung damage.</p>
                </div>
            </li>


            <li class="media my-4">
                <img src="~/Images/checkup.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Frequent Medical check-up</h5>
                    <p class="pera-bottom mb-30">    Frequent medical check-ups for those who are always exposed to hazardous substances or chemicals will help to identify the diseases at the initial stage itself and can be easily able to protect oneself. Workers should get flu-shots. </p>
                </div>
            </li>
            <li class="media my-4">
                <img src="~/Images/eliminate.jpg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">
                        Proper Diet and Physical Activities
                    </h5>
                    <p class="pera-bottom mb-30">   Diet and Physical Activities help in keeping the lungs healthy </p>
                </div>
            </li>
        </ul>
    </div>
</div>







    @*<div class="jumbotronmodify container">

        <div class="row justify-content-center">
            <div class="col-6 ">

                <img src="~/Images/Symptoms.png" class="img-fluid d-block" alt="Responsive image">
            </div>

            <div class="col-6 align-self-center ">
                <h5>
                    Occupational asthma is defined as asthma arising from occupation, in which a substance handled by occupation or an intermediate substance or end product produced during a work process is the cause.
                </h5>
                <p>
                    Recently, it is also defined as a broad concept that includes not only new asthma occurring in relation to occupation, but also cases in which existing asthma worsens in an occupationally exposed environment.

                </p>
            </div>



        </div>
        <br />
        <br />
        <h3>What are the Hazzards?</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Main Occupations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TDI(Toluene diisocyanate)</td>
                    <td>Furniture manufacturing plant</td>
                </tr>
                <tr>
                    <td>Welding solvent mist</td>
                    <td>Used in different kinds of industries for welding processes</td>
                </tr>
                <tr>
                    <td>Rosin mist</td>
                    <td>Printing, Photocopying, Mixed in laboratories with chemicals, industries</td>
                </tr>
                <tr>
                    <td>Reactive dye dust</td>
                    <td>Printing, Textile and Manufacturing industries</td>
                </tr>
                <tr>
                    <td>Nickel salt</td>
                    <td>Textile, Manufacturing industries</td>
                </tr>
                <tr>
                    <td>zinc salt mist</td>
                    <td>Automotive and Construction industries</td>
                </tr>
                <tr>
                    <td>Shell dust</td>
                    <td>Shellfish processor</td>
                </tr>
                <tr>
                    <td>Hair and excrement of laboratory animals</td>
                    <td>Animal laboratories</td>

                </tr>
                <tr>
                    <td>Wood dust</td>
                    <td>Wood industries</td>
                </tr>
                <tr>
                    <td>Flour dust</td>
                    <td>Bakeries</td>
                </tr>
            </tbody>
        </table>


        <br />

        <div class="col-12 align-self-center">
            <h3>How to protect yourself?</h3>
            <br />
            <ul class="list-unstyled">
                <li class="media">
                    <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                        Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.
                    </div>
                </li>

                <li class="media my-4">
                    <img src="~/Images/fan.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Improve Indoor air quality </h5>
                        This kind of preventive measure such as having smoke-free facilities, usage of non-allergic cleaning products, efficient ventilation systems will help to prevent or lessen symptoms of occupational asthma to some extent.
                    </div>
                </li>


                <li class="media my-4">
                    <img src="~/Images/checkup.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Frequent Medical check-up</h5>
                        Frequent medical check-ups for those who are always exposed to hazardous substances or chemicals will help to identify the diseases at the initial stage itself and can be easily able to protect oneself. Workers should get flu-shots
                    </div>
                </li>
                <li class="media my-4">
                    <img src="~/Images/eliminate.jpg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            Substitute Substances
                        </h5>
                        Substitute the hazardous substance with a safer substance
                    </div>
                </li>
            </ul>
        </div>*@
  


