
@{
    ViewBag.Title = "LungCancer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Home/ViewDiseases">View Diseases</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lung Cancer</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12">
        <img src="~/Images/pageHeading_diseases.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline">Want to know more about Lung Cancer?</h3>
        </div>
    </div>
</div>





<div class="jumbotronmodify container">



    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#symptoms">Symptoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#hazards">Hazards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventive">General Preventive Measures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventivew">Workplace Preventive Measures</a>
        </li>
    </ul>





    <div id="myTabContent" class="tab-content">



        <div class="tab-pane fade active show" id="overview">
            <br />

            <br />
            <div class="row justify-content-center">

                <div class="about-area2 section-padding40">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-5 col-md-12">
                                <div class="about-caption">
                                    <!-- Section Tittle -->

                                    <p class="pera-topp mb-40">

                                        Lung Cancer is considered as one of the most common forms of occupational cancer. It is caused when cells grow in an abnormal way in one or both the lungs.




                                    </p>

                                    <h3>How is it caused?</h3>
                                    <p class="pera-bottom mb-30">
                                        At the work-place when an individual gets exposed to the carcinogenic(cancer-causing) agents for a longer-duration they are more triggered to get affected by the lung cancer because carcinogenesis is a complex, multifactorial process where genetic and environmental factors can play an inter-related role that can lead to uncontrolled cell growth.
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-12">
                                <img src="~/Images/Open Data/lungcancer.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>


        <br />
        <div class="tab-pane fade" id="symptoms">
            <div class="row justify-content-center">

                <div class="col-lg-10 col-md-12">
                    <img src="~/Images/LungCancer.PNG" alt="">
                </div>


            </div>
        </div>

        <br />
        <div class="tab-pane fade" id="hazards">
            <div class="row justify-content-center">
                <h3>What are the Hazards?</h3>
                <br />
                <br />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Type of carcinogenic Agent</th>
                            <th>Occupation or Industry in which carcinogenic agent is foundth>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ionising Radiation</td>
                            <td>Radiologists, Technologists, Nuclear Workers, Radium-Dial Painters, Underground Miners, Plutonium Workers, Cleanup Workers following nuclear accidents, Aircraft Crew.</td>
                        </tr>
                        <tr>
                            <td>Solar Radiation</td>
                            <td>Farmers, Painters, Plumbers, Animal and Horticultural workers and Handypersons.</td>
                        </tr>
                        <tr>
                            <td>
                                Asbestos

                            </td>
                            <td>Mining and Milling, Construction, Manufacturing, Petroleum Refineries, Shipbuilding, Chemical and Food Processing.</td>
                        </tr>
                        <tr>
                            <td>Silica</td>
                            <td>Mining, Construction, Farming, Granite and Stone Industries, Ceramics and Glass related Industries</td>
                        </tr>
                        <tr>
                            <td>Wood Dust</td>
                            <td>Logging and Sawmill Workers, Paperboard Industry, Woodworking Trades that includes Furniture Industries, Cabinetmaking, Carpentry and Construction.</td>
                        </tr>



                        <tr>
                            <td>Engine exhaust, diesel</td>
                            <td>
                                Mining, Metal Workers and Heavy Vehicle drivers
                            </td>
                        </tr>
                        <tr>
                            <td>Environmental Tobacco Smoke(ETS)</td>
                            <td>Different kinds of Industries</td>
                        </tr>
                        <tr>
                            <td>
                                Benzene
                            </td>
                            <td>Farming, Construction, Manufacturing, Automobile, Animal and Horticultural, Chemical and Pharmaceutical Industries, Printing, Rubber.</td>

                        </tr>
                        <tr>
                            <td>Lead</td>
                            <td>Battery Manufacturing Plants, Steel Welding or Cutting Operations, Painting and Printing Industries, Construction, Steel Welding or Cutting Operations, Industries that require flame soldering of lead solder, Gasoline Stations and Garages.</td>
                        </tr>
                        <tr>
                            <td> Polycyclic Aromatic Hydrocarbons(PAH)</td>
                            <td> Coal Gasification, Food Processing and Services, Coal-tar distillation, Aluminium Production.</td>
                        </tr>
                        <tr>
                            <td>  Formaldehyde</td>
                            <td>   Construction, Manufacturing, Carpenter, Painter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="tab-pane fade" id="preventive">
            <div class="col-12 align-self-center">
                <h3>How to protect yourself?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                            <p class="pera-bottom mb-30"> Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.</p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/fan.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Keep yourself in smoke-free workplace </h5>
                            <p class="pera-bottom mb-30"> This kind of preventive measure such as having smoke-free facilities, efficient ventilation systems will help to prevent lung damage.</p>
                        </div>
                    </li>


                    <li class="media my-4">
                        <img src="~/Images/checkup.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Frequent Medical check-up</h5>
                            <p class="pera-bottom mb-30">    Frequent medical check-ups for those who are always exposed to hazardous substances or chemicals will help to identify the diseases at the initial stage itself and can be easily able to protect oneself. Workers should get flu-shots. </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="~/Images/eliminate.jpg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Proper Diet and Physical Activities
                            </h5>
                            <p class="pera-bottom mb-30">   Diet and Physical Activities help in keeping the lungs healthy </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="tab-pane fade" id="preventivew">
            <div class="col-12 align-self-center">
                <h3>How to protect yourself?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/control.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Control or Regulate </h5>
                            <p class="pera-bottom mb-30"> Reduce or control the usage of carcinogenic agents by substituting the carcinogenic agent present in the materials or substances with the other agents that do not cause any damage to human health.</p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/admin.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Administrative controls</h5>
                            <p class="pera-bottom mb-30">Reduce the number of workers exposed during the exposure. This includes job rotation, rest periods, shift or location changes which can make the workers less exposed to the carcinogenic agents that affect their health.</p>
                        </div>
                    </li>


                    <li class="media my-4">
                        <img src="~/Images/training.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Training</h5>
                            <p class="pera-bottom mb-30">Workers need to get educated how to properly handle or use the equipment by providing proper training at the initial stage itself for all kinds of workers which not only includes full-time but also part-time and casual workers. </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <br />




</div>








</div>


