
@{
    ViewBag.Title = "Mining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">

            <img src="~/Images/image_mining.png" class="img-fluid d-block" alt="Responsive image">
            <div class="carousel-caption">
                <h3 class="align-self-cente">Know about the Risk factors involved with Mining</h3>
            </div>
        </div>
        </div>
        <div class="jumbotronmodify container">


            <div class="media">
                <img class="btn img-thumbnail rounded-circle" src="~/Images/img.jpeg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" />
            <p class="lead">Hazardous Substances</p>
            </div>
            <div class="collapse multi-collapse " id="multiCollapseExample1">
                



                        <div class="media">
                            <img src="~/Images/coal.jpg" class="mr-3 img-thumbnail rounded img-fluid" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-1">Coal</p>
                            </div>
                            <img src="~/Images/dust.jpg" class="ml-3 img-thumbnail rounded img-fluid" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-1">Dust</p>

                            </div>

                            <img src="~/Images/silica.jpeg" class="ml-3 img-thumbnail rounded img-fluid" alt="...">

                            <div class="media-body">
                                <p class="mt-0 mb-1">Silicon dioxide</p>

                            </div>
                        </div>
                        <div class="media">
                            <img src="~/Images/asbestos.png" class="align-self-cente mr-3 img-thumbnail rounded img-fluid" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-1">Asbestos</p>
                            </div>
                        </div>




                </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>

            </p>
            <div class="collapse multi-collapse " id="multiCollapseExample2">
                <div class="card">

                    <div class="media">
                        <img src="~/Images/coal.jpg" class="mr-3 img-thumbnail" alt="...">
                        <div class="media-body">
                            <p class="mt-0 mb-1">Pneumoconiosis</p>
                        </div>
                        <img src="~/Images/dust.jpg" class="ml-3 img-thumbnail" alt="...">
                        <div class="media-body">
                            <p class="mt-0 mb-1">Silicosis</p>

                        </div>

                        <img src="~/Images/silica.jpeg" class="ml-3 img-thumbnail" alt="...">

                        <div class="media-body">
                            <p class="mt-0 mb-1">Asbestosis</p>

                        </div>


                    </div>
                </div>
            </div>

        </div>

