
@{
    ViewBag.Title = "Silicosis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/pageHeading_diseases.png" class="img-fluid d-block" alt="Responsive image">
        <div class="carousel-caption">
            <h3 class="align-self-baseline">Want to know more about Silicosis?</h3>
        </div>
    </div>
</div>



<div class="jumbotronmodify container">



    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#symptoms">Symptoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#hazards">Hazards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventive">General Preventive Measures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#preventivew">Workplace Preventive Measures</a>
        </li>
    </ul>





    <div id="myTabContent" class="tab-content">



        <div class="tab-pane fade active show" id="overview">
            <br />

            <br />
            <div class="row justify-content-center">

                <div class="about-area2 section-padding40">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-12 col-md-12">
                                <div class="about-caption">
                                    <!-- Section Tittle -->

                                    <p class="pera-topp mb-40">
                                        It is an interstitial lung disease or a type of chronic pneumoconiosis or fibrosis which is caused due to inhalation of silica dust that is found in various types of rocks and soils
                                    </p>

                                    <h3>How is it caused?</h3>
                                    <p class="pera-bottom mb-30">

                                        When people breathe silica dust which is obtained from mineral silica, then they inhale tiny particles of silica. These respirable tiny particles of silica penetrate into the deeper parts of lungs. A long time exposure by the workers leads to high inhaling of silica particles which can cause SIlicosis.
                                        Over a period of time, these tiny particles in lungs cause lung inflammation and can develop pulmonary fibrosis which is a progressive disease occured the formation of lung nodules and scarring in the lungs. Silicosis is usually recognisable at the earlier stages itself but pulmonary fibrosis takes some decades of years to develop after the first exposure of silica dust.


                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>

        <br />
        <div class="tab-pane fade" id="symptoms">
            <div class="row justify-content-center">

                <div class="col-lg-10 col-md-12">
                    <img src="~/Images/Silicosis.PNG" alt="">
                </div>


            </div>
        </div>

        <br />
        <div class="tab-pane fade" id="hazards">
            <div class="row justify-content-center">
                <h3>What are the Hazzards?</h3>
                <br />
                <br />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Substances that contain silica</th>
                            <th>
                                Occupation or Industry in which silica

                                is found
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stone Products(Natural and Engineered)</td>
                            <td>
                                Building Industries, Manufacturing, Mining, Preparing Laundry and Kitchen Benchtops(Manufactured Stone), Stone Masonry and Stone Cutting
                            </td>
                        </tr>
                        <tr>
                            <td>Composite Dental Fillings</td>
                            <td>Dentistrians</td>
                        </tr>
                        <tr>
                            <td>Timber</td>
                            <td>
                                Building Purposes, Furniture Making, Forestry, Paper and Wood Processing
                            </td>
                        </tr>
                        <tr>
                            <td>Bricks	 </td>
                            <td>Manufacturing, Construction, Glass, Metallurgy</td>
                        </tr>
                        <tr>
                            <td>Cement</td>
                            <td>Construction, Decorative Applications(patios, floors, staircases, driveways, pool decks), Cement Mills, Cement Manufacturing</td>
                        </tr>
                        <tr>
                            <td>Asphalt	</td>
                            <td>
                                Transportation(Road Construction, Railway Beds or Airport Runways, Taxiways), Waterproofing Products, Agriculture(Barn Floors, Greenhouse Floors),
                                Floorings in Construction, Landfill Caps, When Building Playgrounds, Running Tracks and some of the Recreational Equipment.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Dry Wall and Some Plasterboards

                            </td>
                            <td>
                                Construction, Paper, Glass, Plasterboard Industries that uses Gypsum

                            </td>
                        </tr>
                        <tr>
                            <td>Grout</td>
                            <td>Mortar Industry, Masonry Cement, Decorative Items, Construction, Bricklaying, Farming</td>

                        </tr>
                        <tr>
                            <td>Tiles</td>
                            <td>Carpenters in Tiling Industry</td>
                        </tr>
                        <tr>
                            <td>Plastic Materials</td>
                            <td>Plaster Manufacturing Industries, Building and Construction, Textiles, Transportation</td>
                        </tr>
                        <tr>
                            <td>Sand</td>
                            <td>Construction, Manufacturing, Foundry Industries</td>
                        </tr>
                    </tbody>



                </table>
            </div>
        </div>
        <br />
        <div class="tab-pane fade" id="preventive">
            <div class="col-12 align-self-center">
                <h3>How to protect yourself?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/hazmat.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Personal Protective Equipment(PPE)</h5>
                            <p class="pera-bottom mb-30"> Using PPE, control the level of exposure to chemicals and other substances. PPE includes respirators, gloves, goggles and coveralls.</p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/no-smoking.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Quit Smoking</h5>
                            <p class="pera-bottom mb-30"> If you also have the habit of smoking , it further damages your lungs.</p>
                        </div>
                    </li>


                    <li class="media my-4">
                        <img src="~/Images/checkup.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Frequent Medical check-up</h5>
                            <p class="pera-bottom mb-30">    Frequent medical check-ups for those who are always exposed to hazardous substances or chemicals will help to identify the diseases at the initial stage itself and can be easily able to protect oneself. Workers should get flu-shots. </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="~/Images/risk.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Risk assesments
                            </h5>
                            <p class="pera-bottom mb-30">Know about the risk assessments in prior. </p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/manage.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Limit the time
                            </h5>
                            <p class="pera-bottom mb-30">Limit the time you get exposed to silica dust by taking frequent breaks. </p>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
        <br />
        <div class="tab-pane fade" id="preventivew">
            <div class="col-12 align-self-center">
                <h3>How to protect yourself at work?</h3>
                <br />
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/Images/hazard.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Know the Hazard</h5>
                            <p class="pera-bottom mb-30">Usually workers get exposed to different levels of silica dust in different occupations try to know that hazard initially.</p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/no-smoking.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Substitue the substances</h5>
                            <p class="pera-bottom mb-30">Substitue the substances which have high levels of silica exposure with other less harmful substances.</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="~/Images/execution.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Engineering Tools</h5>
                            <p class="pera-bottom mb-30">
                                Using engineering tools, try to capture the dust that is being obtained from different materials in different occupations.
                            </p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/admin.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Administrative controls</h5>
                            <p class="pera-bottom mb-30">Reduce the number of workers exposed during the exposure. This includes job rotation, rest periods, shift or location changes which can make the workers less exposed to the carcinogenic agents that affect their health.</p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="~/Images/air.png" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Air Monitoring
                            </h5>
                            <p class="pera-bottom mb-30">
                                Conduct air monitoring to know the amount of exposure of silica dust by the workers and check if the proper protection has been taken or not (or) what protection needs to be taken to ensure the safety of the workers.
                            </p>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/Images/training.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Training
                            </h5>
                            <p class="pera-bottom mb-30">Provide proper training to the workers about risk assessments and how to protect oneself. </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="~/Images/warning.svg" class="mr-3 img-thumbnail rounded-circle img-fluid" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                Post Warning Signs
                            </h5>
                            <p class="pera-bottom mb-30">Arrange the warning signs at the workplaces to make the workers conscious that the places are contaminated with silica dust. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
</div>




















