
@{
    ViewBag.Title = "ViewDiseases";
}


    <div class="jumbotron container">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <br />
        <div class="card-columns">

            <div class="card text-white bg-primary mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to add</p>

                </div>
            </div>
            <div class="card bg-light mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
            <div class="card text-white bg-primary mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a </p>

                </div>
            </div>

            <div class="card text-white bg-primary mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural </p>

                </div>
            </div>
            <div class="card text-white bg-primary mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
            <div class="card text-white bg-primary mb-3" alt="">
                <div class="card-header">Header</div>
                <img class="card-img-top" src="https://picsum.photos/500/300/?image=10" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural </p>

                </div>
            </div>
        </div>
    </div>