
@{
    ViewBag.Title = "ViewDiseases";
}

<img src="~/Images/image_diseases.png" class="img-fluid d-block" alt="Responsive image">

<div class="jumbotronmodify container">


    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn bg-custom my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br />
    <div class="card-deck">

        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Chronic Obstructive Pulmonary Disease</h4>




                <p class="card-text">
                    As a disease group in which airflow obstruction is observed due to chronic bronchitis or emphysema, airflow obstruction is mostly irreversible and progressive.

                </p>


            </div>
        </div>
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Occupational Asthma</h4>
                <p class="card-text">
                    Occupational asthma is defined as asthma caused by exposure to agents
                    encountered in the working environment in workers without pre-existing
                    asthma.
                </p>

            </div>
        </div>
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Malignant mesothelioma</h4>



                <p class="card-text">Malignant mesothelioma is a malignant tumor arising from mesothelial cells. It mainly occurs on the pleura and is known as a pleural tumor. </p>


            </div>
        </div>

    </div>
    <br />
    <div class="card-deck">
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Bronchiolitis obliterans</h4>




                <p class="card-text">It  is a respiratory disease caused by injury to the smallest airways. Inflammation of the bronchioles, which is the peripheral airway, refers to bronchitis in which airways are blocked.  </p>

            </div>
        </div>


        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Lung Cancer</h4>



                <p class="card-text">
                    Lung cancer refers to malignant tumors in the lungs, and can be divided into primary lung cancer and metastatic lung cancer.
                </p>


            </div>
        </div>
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Hypersensitivity pneumonitis</h4>



                <p class="card-text">
                    It is a disease that causes immune inflammation along with granulomas in the lung parenchyma such as bronchioles and alveoli.
                </p>


            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Asbestosis</h4>




                <p class="card-text">Asbestosis begins with respiratory bronchiolitis and alveolitis, causes diffuse pulmonary fibrosis, and is followed by thickening and calcification of the parietal pleura. </p>

            </div>
        </div>
        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Pneumoconiosis</h4>




                <p class="card-text">Pneumoconiosis is one of a group of interstitial lung disease caused by breathing in certain kinds of dust particles that damage your lungs.  </p>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" alt="">


            <div class="card-body">
                <h4 class="card-title">Silicosis</h4>


                <p class="card-text">When dust containing silicic acid accumulates in the lungs, the lungs become inflamed by the mechanical and chemical actions of silicic acid.  </p>

            </div>
        </div>
    </div>
</div>
    </div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/bootstrap.min.js" defer></script>
<script src="~/Scripts/jquery.min.js"></script>
